<div class="row">
    <div class='col col-md-4'>
        <img src='<%=movie.Poster%>' class='movie-info-image' />
    </div>

    <div class='col col-md-8'>
        <ul>
            <li>
                <span class='list-label'>
                    Year
                </span>
                <span class='list-value'>
                    <%=movie.Year%>
                </span>
            </li>
            <li>
                <span class='list-label'>
                    Imdb Rating
                </span>
                <span class='list-value'>
                    <%=movie.imdbRating%>
                </span>
            </li>
            <li>
                <span class='list-label'>
                    Type
                </span>
                <span class='list-value'>
                    <%=movie.Type%>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="row movie-plot">
    <h3>Plot</h3>
    Here we will include the movie plot once we get that
</div>